body{
    margin: 0;
	padding: 0;
	border: 0;
	outline: 0;                               
	vertical-align: baseline;         
	background: transparent; 
	font-size: 100%;   
	position:  relative;   
    width: 100%;
    height: 100%;
}
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
	
}

.modal {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 500px;
    background: #84a3bc;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    padding: 1rem;    
    z-index: 1;
    transform: translate(-50%, -50%);
}

.modal.active {
    
    display: flex;
    align-items:center;
    flex-direction: column;
}

.modal div {
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
}

.modal h2 {
    margin-bottom: 20px;
}

input[type="text"], input[type="password"] {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin-bottom: 10px;
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 10px;
}

button.submit_button {
    text-align: center;
    width: 300px;
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
}

button.submit_button:hover {
    background-color: #45a049;
    
}

.create_visit--btn{
    display: none;
}

.visit_modal{
    display: none;
}
.visit_modal.active{
    display: flex;
}
.login_modal{
    width: 500px;
}
.close_btn{
    position: relative;
    left: 50%;
}
button {
all:unset
}

.button {
    background-color:#a1dec1;
    border-radius:28px;
    border:1px solid #18ab29;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:Arial;
    font-size:17px;
    padding:16px 31px;
    text-decoration:none;
    text-shadow:0px 1px 0px #2f6627;
}
   .button:hover {
    background-color:#5cbf2a;
   }
   .button:active {
    position:relative;
    top:1px;
   }
.backdrop {
    position: absolute;
    width: 100%;
    height: 100%;
    border: none;
    filter: blur(4px) brightness(50%);
}

html {
    height: 100vh;
    width: 100vw;
}

form {
    display: flex;
    flex-direction: column;
}
.card_list{
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    

}
.list_item{
    list-style: none;
    border-radius: 14px;
    background: #353E8D;
    width:300px;
    padding: 5px 6px;
}
.list_item>h2{
    font-family: 'Baloo 2';
    color: #FFF;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    letter-spacing: 0.28px;
    text-transform: uppercase;
}
.list_item>h3{
    font-family: 'Baloo 2';
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    color: #FFF;
}
.list_item>details>summary{
    list-style-type: none;
    background-color: #a1dec1;
    width: 25%;
    text-align: center;
    border-radius: 10px;
    color:#7f708f;
    margin-bottom: 10px;
    font-size:17px;
    font-family: 'Baloo 2';
    padding:5px 10px;
}
.list_item>details>div{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #fff;
    border-radius: 8px;
    color: #353E8D;
}

.list_item>details>div>p{
    color: #353E8D;
    font-size: 20px;
    font-family: 'Baloo 2';
    font-weight: 400;
    line-height: 8px;
    letter-spacing: 0.13px;
    padding-left: 5px;
}

.edit_btn{
    background-color:#62c38c;
	border-radius:28px;
	border:1px solid #18ab29;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
    font-family: 'Baloo 2';
	font-size:17px;
	padding:10px 20px;
	text-decoration:none;
	text-shadow:0px 1px 0px #2f6627;
  
}



